<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
		{% block title %}
		Tietokantasovellus
		{% endblock %}
	</title>

	{% block head %}
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="{{base_path}}/assets/css/site.css" rel="stylesheet">

		<!-- Bootstrap (tyylitiedosto) -->
		<link href="{{base_path}}/assets/css/bootstrap.min.css" rel="stylesheet">

		<!-- Oma tyylitiedostomme -->
		<link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css" rel="stylesheet">

		{% if session.alert %}
			<link href="{{base_path}}/assets/css/sweetalert.css" rel="stylesheet">
		{% endif %}
	{% endblock %}
</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Sovelluksen nimi -->
				<a class="navbar-brand kaushan" href="{{base_path}}"><i class="fa fa-plus fa-3"></i> Hospital Schedule</a>
			</div>

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="nav navbar-nav">
					<!-- Navigaation linkit -->
					<li><a href="{{base_path}}">Index</a></li>
				</ul>
				{% if user_logged_in is not null %}
					<ul class="nav navbar-nav navbar-right">
						{% if user_logged_in.role is not null and user_logged_in.role.admin %}
							<li><a href="{{base_path}}/controlpanel">Control Panel</a></li>
						{% endif %}
						<li><a href="{{base_path}}/logout">Logout</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
	</nav>

	<div id="main-container">
		<!-- Dynaaminen sisältö tulee tähän -->
		{% block content %}{% endblock %}
	</div>

	{% block body %}
		<!-- jQuery -->
		<script src="{{base_path}}/assets/js/jquery.min.js"></script>

		<!-- Bootstrap (skriptitiedosto) -->
		<script src="{{base_path}}/assets/js/bootstrap.min.js"></script>

		<!-- Oma skriptitiedostomme -->
		<script src="{{base_path}}/assets/js/site.js"></script>

		{% if session.alert %}
			<script src="{{base_path}}/assets/js/sweetalert.min.js"></script>

			<script>
				swal({
					title: "{{ session.alert.title }}",
					text: "{{ session.alert.message }}",
					type: "{{ session.alert.type }}",
					timer: {{ session.alert.timer }},
					showConfirmButton: false
				});
			</script>
		{% endif %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
	{% endblock %}
	{% block scripts %}
	{% endblock %}
</body>
</html>
