{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if hospitals is empty %}
					<div class="alert alert-default">
						<p>No Hospitals created yet...</p>
					</div>
				{% else %}
					<h2>Hospitals</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for hospital in hospitals %}
								<tr id="{{hospital.id}}">
									<td>{{ hospital.id }}</td>
									<td>{{ hospital.name }}</td>
									<td><a class="btn btn-primary" href="{{base_path}}/hospitals/{{hospital.id}}/edit">Edit</a></td>
									<td><a class="btn btn-danger" href="{{base_path}}/hospitals/{{hospital.id}}/destroy">Delete</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
