{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if users is empty %}
					<div class="alert alert-default">
						<p>No Users created yet...</p>
					</div>
				{% else %}
					<h2>Users</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr id="{{user.id}}">
									<td>{{ user.id }}</td>
									<td>{{ user.name }}</td>
									<td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
									<td><a class="btn btn-danger" href="{{base_path}}/users/{{user.id}}/edit">Edit</a></td>
									<td><a class="btn btn-danger" href="{{base_path}}/users/{{user.id}}/destroy">Delete</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
